.person {
  flex: 1;
  display: block;
  padding: 1vw;
  border-radius: 4px;
  cursor: pointer;
  transition: all ease 0.05s;
}

.person:hover {
  background-color: lightgray;
}

.person__img {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  object-position: center;
  border-radius: 999px;
  background-color: lightgray;
}

.person__hint {
  max-width: 15vw;
  text-align: center;
  opacity: 0;
  transition: inherit;
}

.person:hover .person__hint {
  opacity: 1;
}