.settings {
  display: block;
  position: absolute;
  z-index: 1;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: lightgray;
}

.close {
  display: block;
  padding: 10px;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  background-color: transparent;
}

.close__img {
  display: block;
  width: 40px;
}